@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900");

$font-family: "Ubuntu", "Open Sans", sans-serif;

$off-black: #282835;
$dark-grey: #222d39;
$faded-black: #383838;
$light-black: #3c4043;
$dark-blue-grey: #7f88a6;
$dark-hover-grey: #858da8;
$hover-grey: #9ca3b9;
$faded-hover-grey: #969db4;
$blue-grey: #afb8ce;
$faded-grey: #8891aa;
$grey: #677294;
$light-grey: #6a7695;
$input-grey: #f2effc;
$dull-light-grey: #eeeef5;
$grey-white: #eeebf6;
$off-white: #fbfbfd;
$light-off-white: #ebeef5;
$light-grey-white: #eff2f9;
$bg-white: #f4f6fa;
$white: #fff;
$yellow: #fff9e5;
$off-light-blue: #e5f2f0;
$baby-blue: #c4e7f7;
$blue: #bbdefb;
$red: #f96e65;
$violet: #a485fd;

$navbar-shadow: rgba(12, 0, 46, 0.06);
$team-content-shadow: rgba(255, 255, 255, 0.9);
$hover-red-gradient-shadow: rgba(249, 110, 101, 0.9);
$hover-pink-gradient-shadow: rgba(252, 189, 185, 0.9);
$nametag-shadow: rgba(255, 255, 255, 0.2);
$services-icon-shadow: rgba(29, 7, 90, 0.06);
$process-item-shadow: rgba(3, 115, 156, 0.1);
$icon-shadow: rgba(94, 44, 237, 0.4);
$card-item-shadow: rgba(38, 59, 94, 0.1);
$hover-content-shadow: rgba(44, 44, 57, 0.7);
$text-box-shadow: rgba(12, 0, 46, 0.04);
$stack-item-shadow: rgba(12, 0, 46, 0.1);
$f-bg-shadow: rgba(231, 236, 246, 0.004);

a {
	text-decoration: none !important;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.row.m0 {
	margin: 0px;
}

.p0 {
	padding: 0px;
}

i:before {
	margin-left: 0px !important;
}

body {
	font-size: 15px;
	font-weight: 300;
	line-height: 28px;
	font-family: $font-family;
	letter-spacing: 0px;
	color: $grey;
	padding: 0px;
	overflow-x: hidden;
	z-index: 0;
}

.body_wrapper {
	z-index: 20;
	overflow: hidden;
}

a,
.btn,
button {
	text-decoration: none;
	outline: none;
}

a {
	&:hover,
	&:focus {
		text-decoration: none;
		color: $red !important;
		outline: none;
	}
}

.btn {
	&:hover,
	&:focus {
		text-decoration: none;
		color: $red !important;
		outline: none;
	}
}

button {
	&:hover,
	&:focus {
		text-decoration: none;
		color: $red !important;
		outline: none;
	}
}

.btn {
	&:focus,
	&:active:focus,
	&.active:focus,
	&.focus,
	&:active.focus,
	&.active.focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.section_title {
	h2 {
		font-size: 40px;
		font-weight: 600;
		line-height: 48px;
		color: $faded-black;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
		font-weight: 300;
		color: $light-grey;
		margin-bottom: 0;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		white-space: pre-line;
	}
}

@media (min-width: 1250px) {
	.container {
		max-width: 1200px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 100%;
	}
}

.f_size_50 {
	font-size: 50px;
}

.f_size_28 {
	font-size: 28px;
}

.f_size_22 {
	font-size: 22px;
}

.f_size_24 {
	font-size: 24px;
}

.f_size_20 {
	font-size: 20px;
}

.f_size_18 {
	font-size: 18px;
}

.f_size_16 {
	font-size: 16px;
}

.f_size_15 {
	font-size: 15px;
}

.l_height50 {
	line-height: 50px;
}

.l_height45 {
	line-height: 45px;
}

.l_height40 {
	line-height: 40px;
}

.l_height30 {
	line-height: 30px;
}

.l_height34 {
	line-height: 34px;
}

.l_height28 {
	line-height: 28px;
}

.f_paragraph {
	font-family: $font-family;
}

.f_300 {
	font-weight: 300;
}

.f_400 {
	font-weight: 400;
}

.f_500 {
	font-weight: 500;
}

.f_600 {
	font-weight: 600;
}

.f_700 {
	font-weight: 700;
}

.f_900 {
	font-weight: 900;
}

.t_color {
	color: $faded-black;
}

.t_color2 {
	color: $dark-grey;
}

.w_color {
	color: $white;
}

.bg_color {
	background: $off-white;
}

.mt_60 {
	margin-top: 60px;
}

.mt_30 {
	margin-top: 30px;
}

.mt_40 {
	margin-top: 40px;
}

.mt_70 {
	margin-top: 70px;
}

.mt_75 {
	margin-top: 75px;
}

.mt_100 {
	margin-top: 100px;
}

.mt_130 {
	margin-top: 130px;
}

.mb_70 {
	margin-bottom: 70px;
}

.mb_20 {
	margin-bottom: 20px;
}

.mb_15 {
	margin-bottom: 15px;
}

.mb_30 {
	margin-bottom: -30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb_40 {
	margin-bottom: 40px;
}

.mb_50 {
	margin-bottom: 50px;
}

.mb-50 {
	margin-bottom: -50px;
}

.mb_60 {
	margin-bottom: 60px;
}

.pt_150 {
	padding-top: 150px;
}

.pt_120 {
	padding-top: 40px;
}

.section_pad {
	padding: 120px 0px;
}

.btn_hover {
	overflow: hidden;
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	font-family: $font-family;
	z-index: 1;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

	&:hover {
		color: $white;
	}
}

.theme_btn {
	font: 500 17px/20px $font-family;
	border-radius: 5px;
	padding: 15px 35px;
	background: $white;

	&:hover {
		color: $white;
	}
}

.main_btn {
	background: $red !important;
	color: $yellow !important;
	font-size: 17px;
	border: 1px solid $red !important;
	padding: 13px 28px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: inline-block;

	&:hover {
		background: $yellow !important;
		color: $red !important;
	}

	+ .main_btn {
		margin-left: 20px;

		i {
			padding-right: 5px;
		}
	}
}

.seo_btn {
	display: inline-block;
	padding: 11px 40px;
	border-radius: 4px;
}

.header_area {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 20;
	top: 0;
}

.menu_main {
	padding: 0px;
}

.navbar_theme img {
	display: none;

	+ img {
		display: block;
	}
}

.sticky_logo img {
	display: block;

	+ img {
		display: none;
	}
}

.menu > .nav_item {
	position: relative;
	padding-bottom: 35px;
	padding-top: 35px;

	> .nav_item {
		font: 500 18px $font-family;
		color: $faded-black;
		padding: 0px;
		position: relative;
		cursor: pointer;

		&:before {
			content: "";
			width: 0;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: auto;
			right: 0;
		}

		&:after {
			display: none;
		}
	}

	+ .nav_item {
		margin-left: 45px;
	}

	.nav_item.active:before,
	&:hover .nav_item:before {
		width: 100%;
		left: 0;
		right: auto;
	}
}

.w_menu .nav_item .nav_item {
	color: $faded-black;

	&:before {
		background: $white;
	}
}

.menu_theme {
	.main_btn_radius {
		background: transparent;
	}

	.menu_toggle {
		.hamburger span,
		.hamburger-cross span {
			background: $faded-black;
		}
	}
}

.main_btn_radius {
	border-radius: 45px;
	border-width: 1px;
	color: $white;
	background: $white;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0px 28px;
	line-height: 45px;

	&:before {
		background: $red;
	}

	&:hover {
		color: $red;
	}
}

.navbar-toggler {
	padding: 0px;
	margin-left: 20px;

	&:focus {
		outline: none;
	}
}

.menu_toggle {
	width: 22px;
	height: 22px;
	position: relative;
	cursor: pointer;
	display: block;

	.hamburger {
		position: absolute;
		height: 100%;
		width: 100%;
		display: block;

		span {
			width: 0%;
			height: 2px;
			position: relative;
			top: 0;
			left: 0;
			margin: 4px 0;
			display: block;
			background: $red;
			border-radius: 3px;
			-webkit-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;

			&:nth-child(1) {
				-webkit-transition-delay: 0s;
				-o-transition-delay: 0s;
				transition-delay: 0s;
			}

			&:nth-child(2) {
				-webkit-transition-delay: 0.125s;
				-o-transition-delay: 0.125s;
				transition-delay: 0.125s;
			}

			&:nth-child(3) {
				-webkit-transition-delay: 0.2s;
				-o-transition-delay: 0.2s;
				transition-delay: 0.2s;
			}
		}
	}

	.hamburger-cross {
		position: absolute;
		height: 100%;
		width: 100%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		display: block;

		span {
			display: block;
			background: $red;
			border-radius: 3px;
			-webkit-transition: 0.2s ease-in-out;
			-o-transition: 0.2s ease-in-out;
			transition: 0.2s ease-in-out;

			&:nth-child(1) {
				height: 100%;
				width: 2px;
				position: absolute;
				top: 0;
				left: 10px;
				-webkit-transition-delay: 0.3s;
				-o-transition-delay: 0.3s;
				transition-delay: 0.3s;
			}

			&:nth-child(2) {
				width: 100%;
				height: 2px;
				position: absolute;
				left: 0;
				top: 10px;
				-webkit-transition-delay: 0.4s;
				-o-transition-delay: 0.4s;
				transition-delay: 0.4s;
			}
		}
	}
}

.collapsed .menu_toggle {
	.hamburger span {
		width: 100%;

		&:nth-child(1) {
			-webkit-transition-delay: 0.3s;
			-o-transition-delay: 0.3s;
			transition-delay: 0.3s;
		}

		&:nth-child(2) {
			-webkit-transition-delay: 0.4s;
			-o-transition-delay: 0.4s;
			transition-delay: 0.4s;
		}

		&:nth-child(3) {
			-webkit-transition-delay: 0.5s;
			-o-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}
	}

	.hamburger-cross span {
		&:nth-child(1) {
			height: 0%;
			-webkit-transition-delay: 0s;
			-o-transition-delay: 0s;
			transition-delay: 0s;
		}

		&:nth-child(2) {
			width: 0%;
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
	}
}

.header_area {
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.navbar_fixed .header_area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 6px 0px $navbar-shadow;
	box-shadow: 0px 4px 6px 0px $navbar-shadow;

	.menu_main {
		padding: 0px;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	.sticky_logo img {
		display: none;

		+ img {
			display: block;
		}
	}

	.w_menu .nav_item .nav_item {
		color: $faded-black;

		&:before {
			background: $faded-black;
		}
	}

	.menu_theme .main_btn_radius {
		border-color: $red;
		color: $red;

		&:hover {
			background: $red;
			color: $white;
		}
	}
}

.team_item {
	position: relative;
	text-align: center;
	margin-bottom: 40px;
	overflow: hidden;
	cursor: default;

	img {
		max-width: 100%;
	}

	.hover_content,
	.team_content {
		position: absolute;
		width: 100%;
	}

	h3 {
		margin-bottom: 3px;
	}

	h5 {
		font: 300 14px/24px $font-family;
		color: $grey;
		margin-bottom: 0px;
	}

	.team_content {
		bottom: 0;
		background: $team-content-shadow;
		padding: 17px 0px;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.hover_content {
		top: 0;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0px 33px;
		background-image: -moz-linear-gradient(
			140deg,
			$hover-red-gradient-shadow 0%,
			$hover-pink-gradient-shadow 100%
		);
		background-image: -webkit-linear-gradient(
			140deg,
			$hover-red-gradient-shadow 0%,
			$hover-pink-gradient-shadow 100%
		);
		background-image: -ms-linear-gradient(
			140deg,
			$hover-red-gradient-shadow 0%,
			$hover-pink-gradient-shadow 100%
		);
		background-image: linear-gradient(
			140deg,
			$hover-red-gradient-shadow 0%,
			$hover-pink-gradient-shadow 100%
		);
		opacity: 0;
		visibility: visible;
		z-index: -1;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);

		.desc_hover_content {
			width: 100%;

			ul {
				margin-bottom: 0px;

				li {
					display: inline-block;

					a {
						font-size: 13px;
						color: $white;
						margin: 0px 5px;

						&:hover {
							color: $blue !important;
						}
					}
				}
			}

			.nametag {
				width: 100%;
				height: 1px;
				background: $nametag-shadow;
				display: block;
				margin: 15px 0px 20px;
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
				-webkit-transition: all 0.6s linear;
				-o-transition: all 0.6s linear;
				transition: all 0.6s linear;
			}

			h3 {
				-webkit-transform: translateY(12px);
				-ms-transform: translateY(12px);
				transform: translateY(12px);
				-webkit-transition: all 0.5s linear;
				-o-transition: all 0.5s linear;
				transition: all 0.5s linear;
			}

			h5 {
				color: $white;
				-webkit-transform: translateY(20px);
				-ms-transform: translateY(20px);
				transform: translateY(20px);
				-webkit-transition: all 0.6s linear;
				-o-transition: all 0.6s linear;
				transition: all 0.6s linear;
			}
		}
	}

	&:hover {
		.hover_content {
			opacity: 1;
			visibility: visible;
			z-index: 0;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);

			.nametag {
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}

			h3,
			h5 {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}

		.team_content {
			opacity: 0;
			visibility: visible;
			-webkit-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
		}
	}
}

.leaf {
	position: absolute;

	&.l_left {
		top: 200px;
		left: 260px;
	}

	&.l_right {
		right: 0;
		bottom: 100px;
	}
}

@-webkit-keyframes animateUpDown {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}

	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes animateUpDown {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}

	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.client_logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 100px;
	border-bottom: 1px solid $dull-light-grey;
	padding-bottom: 35px;
	position: relative;
	z-index: 4;
}

.hero_banner_area {
	min-height: 100vh;
	background: $off-light-blue;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: url("../img/home/homeShape.png") no-repeat scroll center
			(bottom / cover);
		z-index: -1;
	}
}

.hero_content {
	h2 {
		font-size: 50px;
		color: $faded-black;
		font-weight: 300;
		line-height: 60px;
		margin-bottom: 30px;

		span {
			font-weight: 700;
		}
	}

	p {
		font-size: 20px;
		color: $light-black;
		line-height: 30px;
		margin-bottom: 50px;
	}
}

.hero_splash_graphic {
	position: absolute;
	width: 48%;
	height: 100%;
	right: 0;
	z-index: -1;

	.phone,
	.laptop {
		position: absolute;
		right: 0%;
	}

	.phone {
		bottom: -10%;
		right: 20%;
		z-index: 100;
	}

	.laptop {
		right: -10%;
		bottom: 15%;
	}
}

.services_logo {
	padding-right: 60px;
	margin-bottom: -30px;

	.services_item {
		margin-bottom: 30px;
	}
}

.services_icon {
	width: 100%;
	display: block;
	background-color: white;
	-webkit-box-shadow: 0px 4px 5px 0px $services-icon-shadow;
	box-shadow: 0px 4px 5px 0px $services-icon-shadow;
	height: 100%;
	padding: 30px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor: default;

	&:hover {
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}
}

.services_content {
	h2 {
		font-size: 30px;
		color: $faded-black;
		font-weight: 600;
		margin-bottom: 25px;
	}

	p {
		line-height: 30px;
		margin-bottom: 40px;
	}
}

.process_area {
	background: $bg-white;
}

.process_item {
	background: $white;
	-webkit-box-shadow: 0px 30px 40px 0px $process-item-shadow;
	box-shadow: 0px 30px 40px 0px $process-item-shadow;
	padding: 47px 40px 0px;
	height: 100%;
	position: relative;
	border: 2px solid transparent;
	-webkit-transition: border 0.2s linear;
	-o-transition: border 0.2s linear;
	transition: border 0.2s linear;
	cursor: default;
	overflow: hidden;

	p {
		line-height: 28px;
	}

	.icon {
		width: 54px;
		height: 54px;
		line-height: 54px;
		font-size: 20px;
		border-radius: 50%;
		color: $white;
		text-align: center;
		background-image: -moz-linear-gradient(40deg, $red 0%, $violet 100%);
		background-image: -webkit-linear-gradient(40deg, $red 0%, $violet 100%);
		background-image: -ms-linear-gradient(40deg, $red 0%, $violet 100%);
		background-image: linear-gradient(40deg, $red 0%, $violet 100%);
		box-shadow: 0px 14px 30px 0px $icon-shadow;
		position: absolute;
		right: 30px;
		top: 30px;
	}

	img {
		margin-right: -25px;
		width: auto;
	}

	&:hover {
		border-color: $baby-blue;
	}
}

.card_item {
	background-color: white;
	-webkit-box-shadow: 0px 3px 10px 0px $card-item-shadow;
	box-shadow: 0px 3px 10px 0px $card-item-shadow;
	padding: 60px 40px 38px;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor: default;

	h4 {
		font-size: 20px;
		line-height: 28px;
		color: $faded-black;
		font-weight: 500;
		margin-top: 35px;
		margin-bottom: 16px;
		-webkit-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;

		&:hover {
			color: $red;
		}
	}

	p {
		margin-bottom: 0;
		font-size: 16px;
		line-height: 30px;
		color: $light-grey;
		margin-bottom: 40px;
	}

	i {
		font-size: 40px;
		color: $blue-grey;
		-webkit-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;

		&:hover {
			color: $red;
		}
	}

	&:hover {
		-webkit-box-shadow: 0px 30px 60px 0px $card-item-shadow;
		box-shadow: 0px 30px 60px 0px $card-item-shadow;
	}
}

.client_info {
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	.logo_item {
		width: calc(100% / 5);
		margin-bottom: 60px;

		img {
			max-width: 100%;
			-webkit-filter: contrast(0.3%);
			filter: contrast(0.3%);
			-webkit-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}

		&:hover img {
			-webkit-filter: contrast(100%);
			filter: contrast(100%);
		}
	}
}

.client_logo_area_spec {
	padding-top: 80px;
	margin-bottom: -40px;

	h4 {
		color: $faded-grey;
	}
}

.client_logo_area .client_logo_area_spec {
	margin-bottom: 0;
	padding-top: 0px;
	padding-bottom: 50px;
}

.work_filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	.gallery_work_item {
		font: 400 16px/22px $font-family;
		color: $grey;
		display: inline-block;
		border-radius: 3px;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		position: relative;
		cursor: pointer;

		&:before {
			content: "";
			width: 0;
			height: 1px;
			bottom: 0;
			background: transparent;
			position: absolute;
			left: auto;
			right: 0;
			-webkit-transition: width 0.3s linear;
			-o-transition: width 0.3s linear;
			transition: width 0.3s linear;
		}

		&.active,
		&:hover {
			color: $red;
		}

		&.active:before,
		&:hover:before {
			width: 100%;
			background: $red;
			right: auto;
			left: 0;
		}

		+ .gallery_work_item {
			margin-left: 60px;
		}
	}
}

.work_gallery .work_item .work_img {
	position: relative;
	cursor: default;
	overflow: hidden;

	img {
		max-width: 100%;
		width: 100%;
	}

	.img_rounded {
		border-radius: 6px;
	}

	.hover_content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $hover-content-shadow;
		opacity: 0;
		-webkit-transition: opacity 300ms linear;
		-o-transition: opacity 300ms linear;
		transition: opacity 300ms linear;

		.img_popup {
			width: 50px;
			height: 50px;
			font-size: 18px;
			line-height: 50px;
			text-align: center;
			right: 50px;
			top: 50px;
			border: 1px solid $white;
			border-radius: 50%;
			color: $yellow;
			-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
			transform: scale(0.9);
			opacity: 0;
			-webkit-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;

			&:hover {
				background: $white;
				color: $off-black;
			}
		}

		.work_item_desc {
			bottom: 0;
			padding-left: 50px;
			padding-bottom: 48px;
			width: 100%;

			h3 {
				-webkit-transform: translateY(25px);
				-ms-transform: translateY(25px);
				transform: translateY(25px);
				-webkit-transition: all 0.4s linear;
				-o-transition: all 0.4s linear;
				transition: all 0.4s linear;
				color: $white;
			}

			.links {
				overflow: hidden;

				a {
					-webkit-transform: translateY(25px);
					-ms-transform: translateY(25px);
					transform: translateY(25px);
					color: $yellow !important;
					-webkit-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;

					&:before {
						background: $white;
					}
				}
			}
		}

		&.h_content_work {
			.img_popup {
				right: 30px;
				top: 30px;
			}

			.work_item_desc {
				padding-left: 30px;
				padding-bottom: 30px;

				.links a {
					font-size: 14px;
				}
			}
		}
	}

	&:hover .hover_content {
		opacity: 1;

		.img_popup {
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}

		.work_item_desc {
			h3,
			a {
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.work_item_desc {
	.work_item_title {
		overflow: hidden;
		display: inline-block;
	}

	h3 {
		margin-top: 22px;
		margin-bottom: 0px;
		-webkit-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;
		color: $off-black;

		&:hover {
			color: $red;
		}
	}

	.links {
		overflow: hidden;

		a {
			font-size: 15px;
			color: $grey;
			font-weight: 300;
			position: relative;
			display: inline-block;
			margin-right: 8px;
			-webkit-transition: color 0.01s linear;
			-o-transition: color 0.01s linear;
			transition: color 0.01s linear;

			&:before {
				content: "";
				width: 0;
				height: 1px;
				bottom: 0;
				background: $red;
				position: absolute;
				left: auto;
				right: 0;
				-webkit-transition: width 0.3s linear;
				-o-transition: width 0.3s linear;
				transition: width 0.3s linear;
			}

			&:hover {
				color: $red;

				&:before {
					width: 100%;
					right: auto;
					left: 0;
				}
			}
		}
	}
}

.contact_info_item {
	border-bottom: 1px solid $grey-white;
	padding-bottom: 25px;

	p {
		color: $grey;
		margin-bottom: 8px;
	}

	a {
		color: $grey;
		padding-left: 3px;
		display: inline-block;

		&:hover {
			color: $red;
		}
	}

	+ .contact_info_item {
		border: 0px;
		margin-top: 33px;
	}
}

.text_box {
	margin-bottom: 30px;

	input[type="text"],
	textarea {
		font: 400 15px/60px $font-family;
		color: $dark-grey;
		height: 60px;
		border-radius: 4px;
		background-color: white;
		-webkit-box-shadow: 0px 2px 4px 0px $text-box-shadow;
		box-shadow: 0px 2px 4px 0px $text-box-shadow;
		width: 100%;
		border: 1px solid $white;
		padding-left: 30px;
	}

	input {
		&[type="password"],
		&[type="email"] {
			font: 400 15px/60px $font-family;
			color: $dark-grey;
			height: 60px;
			border-radius: 4px;
			background-color: white;
			-webkit-box-shadow: 0px 2px 4px 0px $text-box-shadow;
			box-shadow: 0px 2px 4px 0px $text-box-shadow;
			width: 100%;
			border: 1px solid $white;
			padding-left: 30px;
		}

		&[type="text"].placeholder {
			color: $hover-grey;
		}
	}

	textarea.placeholder {
		color: $hover-grey;
	}

	input {
		&[type="password"].placeholder,
		&[type="email"].placeholder,
		&[type="text"]:-moz-placeholder {
			color: $hover-grey;
		}
	}

	textarea:-moz-placeholder {
		color: $hover-grey;
	}

	input {
		&[type="password"]:-moz-placeholder,
		&[type="email"]:-moz-placeholder,
		&[type="text"]::-moz-placeholder {
			color: $hover-grey;
		}
	}

	textarea::-moz-placeholder {
		color: $hover-grey;
	}

	input {
		&[type="password"]::-moz-placeholder,
		&[type="email"]::-moz-placeholder,
		&[type="text"]::-webkit-input-placeholder {
			color: $hover-grey;
		}
	}

	textarea::-webkit-input-placeholder {
		color: $hover-grey;
	}

	input {
		&[type="password"]::-webkit-input-placeholder,
		&[type="email"]::-webkit-input-placeholder {
			color: $hover-grey;
		}

		&[type="text"]:focus {
			border-color: $input-grey;
			-webkit-box-shadow: 0px 10px 14px 0px $navbar-shadow;
			box-shadow: 0px 10px 14px 0px $navbar-shadow;
			outline: none;
		}
	}

	textarea:focus {
		border-color: $input-grey;
		-webkit-box-shadow: 0px 10px 14px 0px $navbar-shadow;
		box-shadow: 0px 10px 14px 0px $navbar-shadow;
		outline: none;
	}

	input {
		&[type="password"]:focus,
		&[type="email"]:focus {
			border-color: $input-grey;
			-webkit-box-shadow: 0px 10px 14px 0px $navbar-shadow;
			box-shadow: 0px 10px 14px 0px $navbar-shadow;
			outline: none;
		}
	}

	textarea {
		height: 220px;
	}
}

.contact_form {
	padding-left: 40px;
}

.contact_form_box {
	overflow: hidden;
}

.error_main_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
	height: 100vh;
	min-height: 750px;
}

.error_main_content {
	h2 {
		font-size: 40px;
		font-weight: 500;
		line-height: 50px;
		color: $faded-black;
		margin-top: 40px;
	}

	p {
		font-size: 20px;
		line-height: 30px;
	}
}

/* Css keyframes css
============================================================================================ */
@-webkit-keyframes menu-animation {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.04) translateY(300%);
		transform: scale(0.04) translateY(300%);
	}

	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
		-webkit-transition: ease-out;
		-o-transition: ease-out;
		transition: ease-out;
	}

	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(0.02) translateY(0px);
		transform: scale(0.02) translateY(0px);
	}

	61% {
		-webkit-transform: scale(0.04);
		transform: scale(0.04);
	}

	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}

	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}

@keyframes menu-animation {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.04) translateY(300%);
		transform: scale(0.04) translateY(300%);
	}

	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
		-webkit-transition: ease-out;
		-o-transition: ease-out;
		transition: ease-out;
	}

	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(0.02) translateY(0px);
		transform: scale(0.02) translateY(0px);
	}

	61% {
		-webkit-transform: scale(0.04);
		transform: scale(0.04);
	}

	99.9% {
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}

	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}

.height {
	height: 100%;
}

.stack_item {
	background: $white;
	-webkit-box-shadow: 0px 2px 7px 0px $stack-item-shadow;
	box-shadow: 0px 2px 7px 0px $stack-item-shadow;
	border-radius: 10px;
	border-radius: 0px;
	text-align: center;
	display: block;
	padding: 26px 0px;
	margin-bottom: 30px;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	z-index: 1;
	position: relative;
	cursor: default;

	h5 {
		font-size: 18px;
		color: $faded-black;
		margin-top: 15px;
	}

	&:hover {
		-webkit-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
	}
}

.active .round {
	-webkit-animation: zoomIn 0.7s both 0.4s;
	animation: zoomIn 0.7s both 0.4s;
}

.f_bg {
	background: $light-grey-white;
	-webkit-box-shadow: 0px -1px 0px 0px $f-bg-shadow;
	box-shadow: 0px -1px 0px 0px $f-bg-shadow;
}

.footer_bottom {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: $dark-blue-grey;
	padding: 27px 0px;

	p a {
		-webkit-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;
	}

	a:hover {
		color: $red;
	}
}

.f_social_icon_main a {
	font-size: 14px;
	color: $faded-hover-grey;
	margin: 0px 8px;
}

.f_social_icon a {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 45px;
	color: $dark-hover-grey;
	display: inline-block;
	background: $light-off-white;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;

	&:hover {
		background: $red;
		color: $white;
	}

	+ a {
		margin-left: 10px;
	}
}

.footer_area_main .footer_bottom {
	p a,
	a:hover {
		color: $red;
	}
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(45deg, $white, $white);
	z-index: 9999999;

	#status {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);

		.spinner {
			width: 40px;
			height: 40px;
			position: relative;
			margin: 100px auto;

			.double-bounce1 {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: $red;
				opacity: 0.6;
				position: absolute;
				top: 0;
				left: 0;
				-webkit-animation: sk-bounce 2s infinite ease-in-out;
				animation: sk-bounce 2s infinite ease-in-out;
			}

			.double-bounce2 {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: $red;
				opacity: 0.6;
				position: absolute;
				top: 0;
				left: 0;
				-webkit-animation: sk-bounce 2s infinite ease-in-out;
				animation: sk-bounce 2s infinite ease-in-out;
				-webkit-animation-delay: -1s;
				animation-delay: -1s;
			}
		}
	}
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.back-to-top {
	text-align: center;
	border-radius: 10px !important;
	width: 33px !important;
	height: 33px !important;
	line-height: 33px !important;
	color: $red !important;
	background-color: $red !important;
	-webkit-transition: all 0.5s ease !important;
	transition: all 0.5s ease !important;
	-webkit-box-shadow: $red !important;
	box-shadow: $red !important;

	svg {
		margin-bottom: 4px !important;
		width: 10px !important;
		-webkit-transition: all 0.5s ease !important;
		transition: all 0.5s ease !important;
		fill: $yellow !important;
	}

	&:hover {
		background-color: $yellow !important;
		color: $red !important;
		-webkit-transform: rotate(45deg) !important;
		transform: rotate(45deg) !important;

		svg {
			margin-bottom: 4px !important;
			-webkit-transform: rotate(-45deg) !important;
			transform: rotate(-45deg) !important;
			fill: $red !important;
		}
	}
}
