@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900");

a {
  text-decoration: none !important;
}

a:hover, a:focus {
  text-decoration: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

i:before {
  margin-left: 0px !important;
}

body {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0px;
  color: #677294;
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
}

.body_wrapper {
  z-index: 20;
  overflow: hidden;
}

a, .btn, button {
  text-decoration: none;
  outline: none;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  color: #f96e65 !important;
  outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.section_title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #383838;
  margin-bottom: 15px;
}

.section_title p {
  font-size: 16px;
  font-weight: 300;
  color: #6a7695;
  margin-bottom: 0;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.section_title p {
  white-space: pre-line;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.f_size_50 {
  font-size: 50px;
}

.f_size_28 {
  font-size: 28px;
}

.f_size_22 {
  font-size: 22px;
}

.f_size_24 {
  font-size: 24px;
}

.f_size_20 {
  font-size: 20px;
}

.f_size_18 {
  font-size: 18px;
}

.f_size_16 {
  font-size: 16px;
}

.f_size_15 {
  font-size: 15px;
}

.l_height50 {
  line-height: 50px;
}

.l_height45 {
  line-height: 45px;
}

.l_height40 {
  line-height: 40px;
}

.l_height30 {
  line-height: 30px;
}

.l_height34 {
  line-height: 34px;
}

.l_height28 {
  line-height: 28px;
}

.f_paragraph {
  font-family: "Ubuntu", sans-serif;
}

.f_300 {
  font-weight: 300;
}

.f_400 {
  font-weight: 400;
}

.f_500 {
  font-weight: 500;
}

.f_600 {
  font-weight: 600;
}

.f_700 {
  font-weight: 700;
}

.f_900 {
  font-weight: 900;
}

.t_color {
  color: #383838;
}

.t_color2 {
  color: #222d39;
}

.w_color {
  color: #fff;
}

.bg_color {
  background: #fbfbfd;
}

.mt_60 {
  margin-top: 60px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_70 {
  margin-top: 70px;
}

.mt_75 {
  margin-top: 75px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_130 {
  margin-top: 130px;
}

.mb_70 {
  margin-bottom: 70px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_30 {
  margin-bottom: -30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb-50 {
  margin-bottom: -50px;
}

.mb_60 {
  margin-bottom: 60px;
}

.pt_150 {
  padding-top: 150px;
}

.pt_120 {
  padding-top: 40px;
}

.section_pad {
  padding: 120px 0px;
}

.btn_hover {
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn_hover:hover {
  color: #fff;
}

.theme_btn {
  font: 500 17px/20px "Ubuntu", sans-serif;
  border-radius: 5px;
  padding: 15px 35px;
  background: #fff;
}

.theme_btn:hover {
  color: #fff;
}

.main_btn {
  background: #f96e65 !important;
  color: #fff9e5 !important;
  font-size: 17px;
  border: 1px solid #f96e65 !important;
  padding: 13px 28px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
}

.main_btn:hover {
  background: #fff9e5 !important;
  color: #f96e65 !important;
}

.main_btn + .main_btn {
  margin-left: 20px;
}

.main_btn + .main_btn i {
  padding-right: 5px;
}

.seo_btn {
  display: inline-block;
  padding: 11px 40px;
  border-radius: 4px;
}

.header_area {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 20;
  top: 0;
}

.menu_main {
  padding: 0px;
}

.navbar_theme img{
  display: none;
}

.navbar_theme img + img {
  display: block;
}

.sticky_logo img{
  display: block;
}

.sticky_logo img + img{
  display: none;
}

.menu > .nav_item {
  position: relative;
  padding-bottom: 35px;
  padding-top: 35px;
}

.menu > .nav_item > .nav_item {
  font: 500 18px "Ubuntu", sans-serif;
  color: #383838;
  padding: 0px;
  position: relative;
  cursor: pointer;
}

.menu > .nav_item > .nav_item:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}

.menu > .nav_item > .nav_item:after {
  display: none;
}

.menu > .nav_item + .nav_item {
  margin-left: 45px;
}

.menu > .nav_item .nav_item.active:before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu > .nav_item:hover .nav_item:before {
  width: 100%;
  left: 0;
  right: auto;
}

.w_menu .nav_item .nav_item {
  color: #383838;
}

.w_menu .nav_item .nav_item:before {
  background: #fff;
}

.menu_theme .main_btn_radius {
  background: transparent;
}

.menu_theme .menu_toggle .hamburger span, .menu_theme .menu_toggle .hamburger-cross span {
  background: #383838;
}

.main_btn_radius {
  border-radius: 45px;
  border-width: 1px;
  color: #fff;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0px 28px;
  line-height: 45px;
}

.main_btn_radius:before {
  background: #f96e65;
}

.main_btn_radius:hover {
  color: #f96e65;
}

.navbar-toggler {
  padding: 0px;
  margin-left: 20px;
}

.navbar-toggler:focus {
  outline: none;
}

.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
}

.menu_toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.menu_toggle .hamburger span {
  width: 0%;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px 0;
  display: block;
  background: #f96e65;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
  -o-transition-delay: .125s;
  transition-delay: .125s;
}

.menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.menu_toggle .hamburger-cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.menu_toggle .hamburger-cross span {
  display: block;
  background: #f96e65;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger-cross span:nth-child(1) {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span {
  width: 100%;
}

.collapsed .menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.collapsed .menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
  height: 0%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
  width: 0%;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.header_area {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar_fixed .header_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.navbar_fixed .header_area .menu_main {
  padding: 0px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar_fixed .header_area .sticky_logo img {
  display: none;
}

.navbar_fixed .header_area .sticky_logo img + img {
  display: block;
}

.navbar_fixed .header_area .w_menu .nav_item .nav_item {
  color: #383838;
}

.navbar_fixed .header_area .w_menu .nav_item .nav_item:before {
  background: #383838;
}

.navbar_fixed .header_area .menu_theme .main_btn_radius {
  border-color: #f96e65;
  color: #f96e65;
}

.navbar_fixed .header_area .menu_theme .main_btn_radius:hover {
  background: #f96e65;
  color: #fff;
}

.team_item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: pointer;
}

.team_item img {
  max-width: 100%;
}

.team_item .hover_content, .team_item .team_content {
  position: absolute;
  width: 100%;
}

.team_item h3 {
  margin-bottom: 3px;
}

.team_item h5 {
  font: 300 14px/24px "Ubuntu", sans-serif;
  color: #677294;
  margin-bottom: 0px;
}

.team_item .team_content {
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  padding: 17px 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.team_item .hover_content {
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 33px;
  background-image: -moz-linear-gradient(140deg, rgba(249, 110, 101, 0.9) 0%, rgba(252, 189, 185, 0.9) 100%);
  background-image: -webkit-linear-gradient(140deg, rgba(249, 110, 101, 0.9) 0%, rgba(252, 189, 185, 0.9) 100%);
  background-image: -ms-linear-gradient(140deg, rgba(249, 110, 101, 0.9) 0%, rgba(252, 189, 185, 0.9) 100%);
  background-image: linear-gradient(140deg, rgba(249, 110, 101, 0.9) 0%, rgba(252, 189, 185, 0.9) 100%);
  opacity: 0;
  visibility: visible;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.team_item .hover_content .desc_hover_content {
  width: 100%;
}

.team_item .hover_content .desc_hover_content ul {
  margin-bottom: 0px;
}

.team_item .hover_content .desc_hover_content ul li {
  display: inline-block;
}

.team_item .hover_content .desc_hover_content ul li a {
  font-size: 13px;
  color: #fff;
  margin: 0px 5px;
}

.team_item .hover_content .desc_hover_content ul li a:hover {
  color: #d9fef8;
}

.team_item .hover_content .desc_hover_content .nametag {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  margin: 15px 0px 20px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.team_item .hover_content .desc_hover_content h3 {
  -webkit-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.team_item .hover_content .desc_hover_content h5 {
  color: #fff;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.team_item:hover .hover_content {
  opacity: 1;
  visibility: visible;
  z-index: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.team_item:hover .hover_content .nametag {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.team_item:hover .hover_content h3, .team_item:hover .hover_content h5 {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.team_item:hover .team_content {
  opacity: 0;
  visibility: visible;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.leaf {
  position: absolute;
}

.leaf.l_left {
  top: 200px;
  left: 260px;
}

.leaf.l_right {
  right: 0;
  bottom: 100px;
}

@-webkit-keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateUpDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.client_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 100px;
  border-bottom: 1px solid #eeeef5;
  padding-bottom: 35px;
  position: relative;
  z-index: 4;
}

.hero_banner_area {
  min-height: 100vh;
  background: #e5f2f0;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.hero_banner_area:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/home/homeShape.png") no-repeat scroll center bottom/cover;
  z-index: -1;
}

.hero_content h2 {
  font-size: 50px;
  color: #383838;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 30px;
}

.hero_content h2 span {
  font-weight: 700;
}

.hero_content p {
  font-size: 20px;
  color: #3c4043;
  line-height: 30px;
  margin-bottom: 50px;
}

.hero_splash_graphic {
  position: absolute;
  width: 48%;
  height: 100%;
  right: 0;
  z-index: -1;
}

.hero_splash_graphic .phone, .hero_splash_graphic .laptop {
  position: absolute;
  right: 0;
}

.hero_splash_graphic .phone {
  bottom: -100px;
  right: 200px;
  z-index: 100;
}

.hero_splash_graphic .laptop {
  right: -100px;
  bottom: 150px;
}

.services_logo {
  padding-right: 60px;
  margin-bottom: -30px;
}

.services_logo .services_item {
  margin-bottom: 30px;
}

.services_icon {
  width: 100%;
  display: block;
  background-color: white;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(29, 7, 90, 0.06);
  box-shadow: 0px 4px 5px 0px rgba(29, 7, 90, 0.06);
  height: 100%;
  padding: 30px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services_icon:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.services_content h2 {
  font-size: 30px;
  color: #383838;
  font-weight: 600;
  margin-bottom: 25px;
}

.services_content p {
  line-height: 30px;
  margin-bottom: 40px;
}

.process_area {
  background: #f4f6fa;
}

.process_item {
  background: #fff;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  padding: 47px 40px 0px;
  height: 100%;
  position: relative;
  border: 2px solid transparent;
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.process_item p {
  line-height: 28px;
}

.process_item .icon {
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-image: -moz-linear-gradient(40deg, #f96e65 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(40deg, #f96e65 0%, #a485fd 100%);
  background-image: -ms-linear-gradient(40deg, #f96e65 0%, #a485fd 100%);
  background-image: linear-gradient(40deg, #f96e65 0%, #a485fd 100%);
  box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  position: absolute;
  right: 30px;
  top: 30px;
}

.process_item img {
  margin-right: -25px;
  width: auto;
}

.process_item:hover {
  border-color: #c4e7f7;
}

.card_item {
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  padding: 60px 40px 38px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.card_item h4 {
  font-size: 20px;
  line-height: 28px;
  color: #383838;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 16px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.card_item h4:hover {
  color: #f96e65;
}

.card_item p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
  color: #6a7695;
  margin-bottom: 40px;
}

.card_item i {
  font-size: 40px;
  color: #afb8ce;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.card_item i:hover {
  color: #f96e65;
}

.card_item:hover {
  -webkit-box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
}

.client_info {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.client_info .logo_item {
  width: calc(100% / 5);
  margin-bottom: 60px;
}

.client_info .logo_item img {
  max-width: 100%;
  -webkit-filter: contrast(0.3%);
  filter: contrast(0.3%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.client_info .logo_item:hover img {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}

.client_logo_area_spec {
  padding-top: 80px;
  margin-bottom: -40px;
}

.client_logo_area_spec h4 {
  color: #8891aa;
}

.client_logo_area .client_logo_area_spec{
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 50px;
}

.work_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.work_filter .gallery_work_item {
  font: 400 16px/22px "Ubuntu", sans-serif;
  color: #677294;
  display: inline-block;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  cursor: pointer;
}

.work_filter .gallery_work_item:before {
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  background: transparent;
  position: absolute;
  left: auto;
  right: 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.work_filter .gallery_work_item.active, .work_filter .gallery_work_item:hover {
  color: #f96e65;
}

.work_filter .gallery_work_item.active:before, .work_filter .gallery_work_item:hover:before {
  width: 100%;
  background: #f96e65;
  right: auto;
  left: 0;
}

.work_filter .gallery_work_item + .gallery_work_item {
  margin-left: 60px;
}

.work_gallery .work_item .work_img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.work_gallery .work_item .work_img img {
  max-width: 100%;
  width: 100%;
}

.work_gallery .work_item .work_img .img_rounded {
  border-radius: 6px;
}

.work_gallery .work_item .work_img .hover_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(44, 44, 57, 0.7);
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.work_gallery .work_item .work_img .hover_content .img_popup {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  right: 50px;
  top: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.work_gallery .work_item .work_img .hover_content .img_popup:hover {
  background: #fff;
  color: #282835;
}

.work_gallery .work_item .work_img .hover_content .work_item_desc {
  bottom: 0;
  padding-left: 50px;
  padding-bottom: 48px;
  width: 100%;
}

.work_gallery .work_item .work_img .hover_content .work_item_desc h3 {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: #fff;
}

.work_gallery .work_item .work_img .hover_content .work_item_desc .links {
  overflow: hidden;
}

.work_gallery .work_item .work_img .hover_content .work_item_desc .links a {
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work_gallery .work_item .work_img .hover_content .work_item_desc .links a:before {
  background: #fff;
}

.work_gallery .work_item .work_img .hover_content.h_content_work .img_popup {
  right: 30px;
  top: 30px;
}

.work_gallery .work_item .work_img .hover_content.h_content_work .work_item_desc {
  padding-left: 30px;
  padding-bottom: 30px;
}

.work_gallery .work_item .work_img .hover_content.h_content_work .work_item_desc .links a {
  font-size: 14px;
}

.work_gallery .work_item .work_img:hover .hover_content {
  opacity: 1;
}

.work_gallery .work_item .work_img:hover .hover_content .img_popup {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.work_gallery .work_item .work_img:hover .hover_content .work_item_desc h3, .work_gallery .work_item .work_img:hover .hover_content .work_item_desc a {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.work_item_desc .work_item_title {
  overflow: hidden;
  display: inline-block;
}

.work_item_desc h3 {
  margin-top: 22px;
  margin-bottom: 0px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #282835;
}

.work_item_desc h3:hover {
  color: #f96e65;
}

.work_item_desc .links {
  overflow: hidden;
}

.work_item_desc .links a {
  font-size: 15px;
  color: #677294;
  font-weight: 300;
  position: relative;
  display: inline-block;
  margin-right: 8px;
  -webkit-transition: color 0.01s linear;
  -o-transition: color 0.01s linear;
  transition: color 0.01s linear;
}

.work_item_desc .links a:before {
  content: "";
  width: 0;
  height: 1px;
  bottom: 0;
  background: #f96e65;
  position: absolute;
  left: auto;
  right: 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.work_item_desc .links a:hover {
  color: #f96e65;
}

.work_item_desc .links a:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}

.contact_info_item {
  border-bottom: 1px solid #eeebf6;
  padding-bottom: 25px;
}

.contact_info_item p {
  color: #677294;
  margin-bottom: 8px;
}

.contact_info_item a {
  color: #677294;
  padding-left: 3px;
  display: inline-block;
}

.contact_info_item a:hover {
  color: #f96e65;
}

.contact_info_item + .contact_info_item {
  border: 0px;
  margin-top: 33px;
}

.text_box {
  margin-bottom: 30px;
}

.text_box input[type="text"], .text_box textarea, .text_box input[type="password"], .text_box input[type="email"] {
  font: 400 15px/60px "Ubuntu", sans-serif;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
  box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
}

.text_box input[type="text"].placeholder, .text_box textarea.placeholder, .text_box input[type="password"].placeholder, .text_box input[type="email"].placeholder {
  color: #9ca3b9;
}

.text_box input[type="text"]:-moz-placeholder, .text_box textarea:-moz-placeholder, .text_box input[type="password"]:-moz-placeholder, .text_box input[type="email"]:-moz-placeholder {
  color: #9ca3b9;
}

.text_box input[type="text"]::-moz-placeholder, .text_box textarea::-moz-placeholder, .text_box input[type="password"]::-moz-placeholder, .text_box input[type="email"]::-moz-placeholder {
  color: #9ca3b9;
}

.text_box input[type="text"]::-webkit-input-placeholder, .text_box textarea::-webkit-input-placeholder, .text_box input[type="password"]::-webkit-input-placeholder, .text_box input[type="email"]::-webkit-input-placeholder {
  color: #9ca3b9;
}

.text_box input[type="text"]:focus, .text_box textarea:focus, .text_box input[type="password"]:focus, .text_box input[type="email"]:focus {
  border-color: #f2effc;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.06);
  box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.06);
  outline: none;
}

.text_box textarea {
  height: 220px;
}

.contact_form {
  padding-left: 40px;
}

.contact_form_box {
  overflow: hidden;
}

.error_main_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 750px;
}

.error_main_content h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #383838;
  margin-top: 40px;
}

.error_main_content p {
  font-size: 20px;
  line-height: 30px;
}

/* Css keyframes css
============================================================================================ */
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

.height {
  height: 100%;
}

.stack_item {
  background: #fff;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
  box-shadow: 0px 2px 7px 0px rgba(12, 0, 46, 0.1);
  border-radius: 10px;
  border-radius: 0px;
  text-align: center;
  display: block;
  padding: 26px 0px;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 1;
  position: relative;
}

.stack_item h5 {
  font-size: 18px;
  color: #383838;
  margin-top: 15px;
}

.stack_item:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.active .round {
  -webkit-animation: zoomIn 0.7s both 0.4s;
  animation: zoomIn 0.7s both 0.4s;
}

.f_bg {
  background: #eff2f9;
  -webkit-box-shadow: 0px -1px 0px 0px rgba(231, 236, 246, 0.004);
  box-shadow: 0px -1px 0px 0px rgba(231, 236, 246, 0.004);
}

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}

.footer_bottom p a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.footer_bottom a:hover {
  color: #f96e65;
}

.f_social_icon_main a {
  font-size: 14px;
  color: #969db4;
  margin: 0px 8px;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.f_social_icon a:hover {
  background: #f96e65;
  color: #fff;
}

.f_social_icon a + a {
  margin-left: 10px;
}

.footer_area_main .footer_bottom p a {
  color: #f96e65;
}

.footer_area_main .footer_bottom a:hover {
  color: #f96e65;
}
